<meta charset="utf-8" />
<title>@ViewBag.title | Packslip Generater - Admin & Dashboard Template</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
<meta content="S.S.White Technologies India Pvt. Ltd" name="author" />
<!-- App favicon -->
<link rel="shortcut icon" href="~/assets/images/favicon.ico">